.container {
    width: 80%;
    margin: 0 auto; /* Centra el contenedor en la página */
    padding-top: 80px; /* Agrega un padding para evitar superposición con el navbar */
    text-align: justify;
  }