.banner {
    height: auto; /* Mantiene la relación de aspecto */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Centra la imagen horizontalmente */
    z-index: 1000; /* Asegura que quede por encima de otros elementos */

}

